@keyframes commitStagingtoRemote {
  100% {
    margin-left: -27em;
    margin-top: -15em;
    opacity: 1;
  }
}
@keyframes fileStagingtoRemote {
  100% {
    margin-left: -28em;
    margin-top: -13em;
    opacity: 1;
    position: fixed;
  }
}
@keyframes pulledfile {
  100% {
    opacity: 1;
    margin-top: 235px;
  }
}
@keyframes mergefile {
  100% {
    margin-top: -239px;
    opacity: 1;
  }
}
@keyframes greyback {
  100% {
    background-color: rgba(128, 128, 128, 0.5);
  }
}
@keyframes redback {
  100% {
    background-color: rgba(255, 0, 0, 0.5);
  }
}
@keyframes localArrowToStage {
  100% {
    width: 16em;
    opacity: 1;
    margin-left: 12em;
  }
}
@keyframes localToStage {
    100% {
      margin-left: 35em;
      opacity: 1;
      position: fixed;
    }
}
@keyframes delbranch {
  100% {
    opacity: 0.3;
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {
    opacity: 0;
  }
}
