/* style on body to stop all margins appearing on border. */
body {
  margin: 0;
  margin-top: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}
/* HTML style to have any auto scrolling smooth */
html {
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
  height: 100%
}
/* h1 styles in each animation grid have no top margin */
.animgrid h1 {
  margin-top: 0;
}
.branchanim h1 {
  margin-top: 0;
}
/* split styles */
.split {
  height: 100%;
  top: 0;
  overflow-x: hidden;
}
.left {
  position: fixed;
  margin-top: 7%;
  width: 75%;
  overflow: hidden;
  border-right: solid;
  margin-left: 0px;
  transition: margin-left 0.5s;
}
aside {
  position: fixed;
  margin-top: 4em;
  right:0;
  width: 25%;
  margin-left: 0px;
  background: #CEFFFF;
  transition: margin-left 0.5s;
}
.lastcode {
  margin-bottom: 10em;
}
/* footer styles */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000000;
  color: #FFFFFF;
  padding-bottom: 1em;
  height: 1em;
  position: fixed;
  z-index: 2;
}
footer p {
  margin: 0;
}
footer span a {
  float: right;
  text-decoration: underline;
  color: #FFFFFF;
  margin-right: 5em;
}
/* navigation styles */
nav {
  width: 100%;
  top: 0;
  background: #000000;
  overflow: hidden;
}
nav a {
  font-family: 'Roboto', sans-serif;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14pt;
  color: #FFFFFF;
  display: inline-flex;
  transition: 0.3s;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}
nav a:hover {
  background: #808080;
  transition: background-color 0.5s ease-out;
}
/* active page nav style */
.active {
  background-color: #808080;
}
/* sidenav styles */
.sidenav #close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50pt;
  padding-left: 32px;
  color: #FFFFFF;
  cursor: pointer;
  background: none;
  width: 0;
  margin: 0 1em 0 0;
}
#open {
  cursor: pointer;
  margin-left: 10px;
  font-size: 35pt;
  color: #FFFFFF;
}
#closednav:hover {
   width: 70px;
   cursor: pointer;
}
#closednav {
  overflow: visible;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18pt;
  }
}
/* basic heading and paragraph styles */
h1 {
  font-size: 32pt;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
h2 {
  font-size: 24pt;
  font-family: 'Roboto', sans-serif;
}
h3 {
  font-size: 18pt;
  font-family: 'Roboto', sans-serif;
}
h4 {
  font-size: 16pt;
  margin-top: 1%;
  margin-left: 1%;
  font-family: 'Roboto', sans-serif;
}
h5 {
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 12pt;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}
/* styles for animation layouts */
div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
/* styles for start and end icons in branches grid */
#start {
  position: fixed;
  margin-top: -1em;
  margin-left: 1em;
}
#end {
  position: fixed;
  margin-top: -1em;
  margin-left: 40em;
}
/* workflow page styles */
#workflow img {
  width: 10em;
}
#workflow h4 {
  text-align: center;
}
#workdir {
  margin: 1em auto;
}
.workflowicons {
  margin: 0 auto;
}
.workflowarrow{
  margin: 2em auto;
}
/* button specific styles for last two pages */
#nextlog {
  margin-top: 0;
}
#nexttag {
  margin-top: 0;
}
/* code block styles */
code {
  padding: 1em;
  background-color: #4f5054;
  color: #bcd1ff;
  font-family: 'Source Code Pro', monospace;
}
.animcode {
  color: #FFFFFF;
  text-align: center;
  animation: 1s forwards;
  font-family: 'Source Code Pro', monospace;
  background-color: #4f5054;
  color: #bcd1ff;
}
/* styles for explanation text in grid */
.animtext {
  color: #FFFFFF;
  margin: 0 1em 0 1em;
  opacity: 0;
  animation: 1s 1s forwards;
}
.animtext a {
  color: #FFFFFF;
}
/* styles for svgs used in animations */
.commitbubble {
  width: 3em;
  position: fixed;
}
.remotereposvg {
  position: fixed;
  width: 6em;
  margin-top: 0.9em;
  margin-left: 10em;
}
.animbtn {
  background-color: #4F8F5B;
  height: 2em;
  padding: 0;
  margin: -2.5em auto 0 0.5em;
  text-align: center;
  z-index: 1;
  width: 10.5em;
}
/* button styles */
button {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16pt;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #FFFFFF;
}
button:hover {
  background-color: #808080;
  transition: background-color 0.5s ease-out;
}
