body {
  margin: 0;
  margin-top: 0;
  padding:0;
}
html {
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
}
header {
  position: relative;
  width: 100%;
  top: 0;
}
article {
  margin-left: 0px;
  transition: margin-left 0.5s;
}
.split {
  width: 100%;
  top: 0;
  padding-top: 20px;
  overflow-x: hidden;
}
.left {
  position: fixed;
  left: 0;
  overflow: hidden;
}
.right {
  position: fixed;
  height: 40%;
  top: 650px;
}
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #000000;
  overflow: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14pt;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}
.sidenav #close {
  position: absolute;
  top: 0;
  right: 10%;
  font-size: 24pt;
  padding-left: 32px;
  color: #FFFFFF;
  cursor: pointer;
}
#open {
  cursor: pointer;
  margin-left: 10px;
  font-size: 35pt;
  z-index: 1;
  position: absolute;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18pt;
  }
}
/* nav a {
  text-align: center;
  background: #000000;
  text-decoration: none;
  padding: 25px;
  float: left;
} */
.sidenav a:hover {
  background: #808080;
  transition: background-color 0.5s ease-out;
}
h1 {
  font-size: 32pt;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
h2 {
  font-size: 24pt;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
h3 {
  font-size: 18pt;
  font-family: 'Roboto', sans-serif;
}
h4 {
  margin-top: 0;
  margin-left: 5px;ddd
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 12pt;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}
div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.animcode {
  color: #FFFFFF;
  text-align: center;
  animation: 1s forwards;
}
.animtext {
  color: #FFFFFF;
  margin: 0px 20px 0px 20px;
  opacity: 0;
  animation: 1s 1s forwards;
}
.animtext a {
  color: #FFFFFF;
}
.staging {
  opacity: 0;
  animation: 1s forwards;
}
#localarrow {
  position: fixed;
  margin-top: 67px;
  margin-left: -200px;
  animation: 1s 1.2s forwards;
}
#staging {
  width: 100px;
  position: fixed;
  margin-left: 50px;
  animation: 1s forwards;
}
#commiticon {
  width: 50px;
  margin-left: 85px;
  margin-top: -34px;
  opacity: 0;
  position: fixed;
  animation: 1s forwards;
}
#stagingarrow {
  transform: rotate(200deg);
  width: 400px;
  margin-left: -350px;
  margin-top: -90px;
  position: fixed;
  opacity: 0;
  animation: 1s forwards;

}
.localrepo {
  opacity: 0;
  animation: 1s 2s forwards;
}
.remoterepo {
  opacity: 0;
  animation: 1s 2s forwards;
}
.localreposvg {
  opacity: 0;
  width: 100px;
  margin-top: -10px;
  margin-bottom: -130px;
  margin-left: 50px;
  animation: 1s 1s forwards;
  position: fixed;
}
.profileicon {
  height: 16pt;
  opacity: 0;
  animation: 1s 2s forwards;
}
@keyframes commitStagingtoRemote {
  100% {
    margin-left: -415px;
    margin-top: -252px;
    opacity: 1;
  }
}
@keyframes fileStagingtoRemote {
  0%{
    position: fixed;
    margin-left: 50px;
    margin-top: 0px;
  }
  100% {
    margin-left: -451px;
    margin-top: -220px;
    opacity: 1;
    position: fixed;
  }
}
@keyframes localArrowToStage {
  100% {
    width: 250px;
    opacity: 1;
    margin-left: 225px;
  }
}
@keyframes localToStage {
    100% {
      margin-top: -1px;
      margin-left: 550px;
      opacity: 1;
      position: fixed;
    }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {
    opacity: 0;
  }
}
.animbtn {
  height: 50px;
  padding: 0;
  margin-top: -50px;
  text-align: center;
  z-index: 1;
  width: 225px;
}
button {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16pt;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #FFFFFF;
}
/* @keyframes button {
  0% {background-color: #000000;}
  50% {background-color: red; left: 50%;}
  100% {background-color: red;}
} */
button:hover {
  background-color: #808080;
  transition: background-color 0.5s ease-out;
}
