body {
  margin: 0;
  margin-top: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}
html {
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
  height: 100%
}
.animgrid h1 {
  margin-top: 0;
}
.branchanim h1 {
  margin-top: 0;
}
header img {
  height: 100%;
  transition: all 0.3s ease;
  transition: transform 1s ease;
}
header img:hover {
  transform: rotate3d(1, 1, 0, 50deg) rotateY(360deg);
  filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}
.split {
  height: 100%;
  top: 0;
  overflow-x: hidden;
}
.left {
  position: fixed;
  margin-top: 7%;
  width: 75%;
  overflow: hidden;
  border-right: solid;
  margin-left: 0px;
  transition: margin-left 0.5s;
}
aside {
  position: fixed;
  margin-top: 4em;
  right:0;
  width: 25%;
  margin-left: 0px;
  background: #E9FFFF;
  transition: margin-left 0.5s;
}
.lastcode {
  margin-bottom: 10em;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000000;
  color: #FFFFFF;
  padding-bottom: 1em;
  height: 1em;
  position: fixed;
  z-index: 2;
}
footer p {
  margin: 0;
}
footer span a {
  float: right;
  text-decoration: underline;
  color: #FFFFFF;
  margin-right: 5em;
}
nav {
  width: 100%;
  top: 0;
  background: #000000;
  overflow: hidden;
}
nav a {
  font-family: 'Roboto', sans-serif;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14pt;
  color: #FFFFFF;
  display: inline-flex;
  transition: 0.3s;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}
.active {
  background-color: #808080;
}
.sidenav #close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50pt;
  padding-left: 32px;
  color: #FFFFFF;
  cursor: pointer;
  background: none;
  width: 0;
  margin: 0 1em 0 0;
}
#open {
  cursor: pointer;
  margin-left: 10px;
  font-size: 35pt;
  color: #FFFFFF;
}
 #closednav:hover {
   width: 70px;
   cursor: pointer;
 }
#closednav {
  overflow: visible;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18pt;
  }
}
nav a:hover {
  background: #808080;
  transition: background-color 0.5s ease-out;
}
h1 {
  font-size: 32pt;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
h2 {
  font-size: 24pt;
  font-family: 'Roboto', sans-serif;
  }
h3 {
  font-size: 18pt;
  font-family: 'Roboto', sans-serif;
}
h4 {
  font-size: 16pt;
  margin-top: 1%;
  margin-left: 1%;
  font-family: 'Roboto', sans-serif;
}
h5 {
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 12pt;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}
div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
#start {
  position: fixed;
  margin-top: -1em;
  margin-left: 1em;
}
#end {
  position: fixed;
  margin-top: -1em;
  margin-left: 40em;
}
#workflow img {
  width: 10em;
}
#workflow h4 {
  text-align: center;
}
.WF-anim1 {
  animation: fadeIn 1s forwards;
  opacity: 0;
}
.WF-anim2 {
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
}
.WF-anim3 {
  opacity: 0;
  animation: fadeIn 1s 2s forwards;
}
.WF-anim4 {
  opacity: 0;
  animation: fadeIn 1s 3s forwards;
}
.WF-anim5 {
  opacity: 0;
  animation: fadeIn 1s 4s forwards;
}
.WF-anim6 {
  opacity: 0;
  animation: fadeIn 1s 5s forwards;
}
.WF-anim7 {
  opacity: 0;
  animation: fadeIn 1s 6s forwards;
}
#workdir {
  margin: 1em auto;
}
.workflowicons {
  margin: 0 auto;
}
.workflowarrow{
  margin: 2em auto;
}
#nextlog {
  margin-top: 0;
}
#nexttag {
  margin-top: 0;
}
code {
  padding: 1em;
  background-color: #4f5054;
  color: #bcd1ff;
  font-family: 'Source Code Pro', monospace;
}
.animcode {
  color: #FFFFFF;
  text-align: center;
  animation: 1s forwards;
  font-family: 'Source Code Pro', monospace;
  background-color: #4f5054;
  color: #bcd1ff;
}
.animtext {
  color: #FFFFFF;
  margin: 0 1em 0 1em;
  opacity: 0;
  animation: 1s 1s forwards;
}
.animtext a {
  color: #FFFFFF;
}
.staging {
  animation: 1s forwards;
}
#localarrow {
  position: fixed;
  margin-top: 2%;
  margin-left: 5%;
  animation: 1s forwards;
  width: 6em;
  opacity: 0;
}
#staging {
  width: 6em;
  position: fixed;
  margin-left: 5em;
  animation: 1s forwards;
}
#branch1arrow {
  position: fixed;
  width: 4.5em;
  transform: rotate(90deg);
  margin-left: 4em;
  margin-top: 11em;
  animation: 1s forwards;
}
#branch1file {
  margin-top: 2em;
  margin-left: 4em;
  animation: 1s forwards;
}
#branchedit1 {
  margin-left: 16em;
  margin-top: 0;
  animation: 1s forwards;
}
#b1arrow {
  position: fixed;
  width: 5em;
  margin-top: 4em;
  margin-left: 11em;
  animation: 1s forwards;
}
#mergedfile1{
  margin-top: 0em;
  margin-left: 16em;
  animation: 1s forwards;
}
#masterarrow {
  position: fixed;
  width: 5em;
  margin-left: 10em;
  margin-top: 5em;
}
#commiticon {
  margin-left: 6em;
  margin-top: -2em;
  animation: 1s forwards;
}
#stagingarrow {
  transform: rotate(200deg);
  width: 30em;
  margin-left: -22em;
  margin-top: -5em;;
  position: fixed;
  opacity: 0;
  animation: 1s forwards;
}
#pulledremote {
  animation: 1s 1s forwards;
  opacity: 0;
}
#remotereposvg {
  animation: fadeIn 1s 0.5s forwards;
  opacity: 0;
}
#remotefile {
  width: 6em;
  position: fixed;
  margin-left: 3.5em;
  margin-top: 0.9em;
}
#remotecommit {
  margin-left: 5em;
  margin-top: -1em;
}
#branch2file {
  margin-left: 1em;
  margin-top: 0em;
  animation: 1s forwards;
}
#brokenfile {
  margin-left: 1em;
  margin-top: 0em;
  animation: 1s forwards;
  opacity: 0;
}
.commitbubble {
  width: 3em;
  position: fixed;
}
.localrepo {
  animation: 2s forwards;
}
.remoterepo {
  animation: 2s forwards;
}
.remotereposvg {
  position: fixed;
  width: 6em;
  margin-top: 0.9em;
  margin-left: 10em;
}
.localreposvg {
  width: 6em;
  margin-left: 2%;
  animation: 1s forwards;
  position: fixed;
}
.local {
  animation: 1s forwards;
}
.stage {
  animation: 1s 1.5s forwards;
}
.profileicon {
  height: 16pt;
  animation: 2s forwards;
}
.animbtn {
  background-color: #4F8F5B;
  height: 2em;
  padding: 0;
  margin: -2.5em auto 0 0.5em;
  text-align: center;
  z-index: 1;
  width: 10.5em;
}
button {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16pt;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #FFFFFF;
}
/* @keyframes button {
  0% {background-color: #000000;}
  50% {background-color: red; left: 50%;}
  100% {background-color: red;}
} */
button:hover {
  background-color: #808080;
  transition: background-color 0.5s ease-out;
}
